*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header-t{
    background-color: white;
    height: 100px;
}



.header-t li{
    color: #7AB72F;
    font-size: 40px;
    list-style: none;
    
}
 
.btb{
    border:1px solid grey;

}

.btb p{
    color: grey;
}

.header-b{
    background-color: white;
    height: 73px;

}

.header-b h5{
    color: black;
    font-size: 35px;
}


.navi{
    list-style: none;
}

.navi li{
    font-size: 22px;
    font-weight: bolder;
    text-transform: uppercase;
    color: black;
}

.gbt{
    background-color:#7AB82F ;
}

.jumbotron{
    height: 632px;
    background-image: url('./doggo.jpeg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
.jumbotron h1{
    font-size:80px;
    font-weight: 700;
    color: #212121!important;
    text-transform: uppercase;
}
.jumbotron h4{
    font-size:50px;
    font-weight: 600;
    color: white!important;
    text-transform: uppercase;
}

.jumbotron p{
    color: white;
    font-size: 29px;
    /* background-color:#c6c6c678; */
    width: 71%;
}
.mybn button{
    color:white;
    border: 2px solid white;
}

.mybn button:hover{
 background-color: white;
 color: black;
 font-weight: 600;
 text-transform: uppercase;
 border: 2px solid white;

}