*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header-t{
    background-color: white;
    height: 100px;
}



.header-t li{
    color: #7AB72F;
    font-size: 40px;
    list-style: none;
    
}
 
.btb{
    border:1px solid grey;

}

.btb p{
    color: grey;
}

.header-b{
    background-color: white;
    height: 73px;

}

.header-b h5{
    color: black;
    font-size: 35px;
}


.navi{
    list-style: none;
}

.navi li{
    font-size: 22px;
    font-weight: bolder;
    text-transform: uppercase;
    color: black;
}

.gbt{
    background-color:#7AB82F ;
}

.jumbotron{
    /* height: 632px; */
    background-image: url('./doggo.jpeg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}
.jumbotron h1{
    font-size:80px;
    font-weight: 700;
    color: #212121!important;
    text-transform: uppercase;
}
.jumbotron h4{
    font-size:50px;
    font-weight: 600;
    color: white!important;
    text-transform: uppercase;
}

.jumbotron p{
    color: white;
    font-size: 29px;
    /* background-color:#c6c6c678; */
    width: 71%;
}
.mybn button{
    color:white;
    font-size: 18px;
    border: 2px solid white;
}

.mybn button:hover{
 background-color: white;
 color: black;
 border: 2px solid white;

}

.plybtn{
    animation :pulse-border 1.5s ease-out infinite;
    background: white;
    transform:translateX(-50%) translateY(-50%);
    font-size: 60px;
    border-radius: 50px;
}

.min{
    list-style: none;
}
.liv{
    font-weight: 700;
    font-size: 27px;
    color: white;
}

.sect1{
    background-color:white;
    /* height: 500px; */
}

.rect{
    /* height: 160px; */
    background-color: #FFFFFF;
    border-left: 6px solid #7AB730!important;
}
.rect p{
    font-size: 20px;
    color: #7AB730!important;
    font-weight: 700;
}

.rect h4{
    font-size:40px;
    font-weight: 700;
    color: #212121;
}

.th{
    font-size: 22px;
    font-weight: 800;
    color: #656565!important;
}

.mission{
    background-color: #7AB730;
    height: 35px;
    color: white;
}

.mission p{
    color: white;
}

.sect2{
    /* height: 200px; */
    background-color: white;
}


.sect3{
    /* height: 200px; */
    background-color: white;
}

.ict{
    font-size: 60px;
    color: #7AB730;
}

.ft{
    background-color: #F3F3F3;
}

.gbb{
    color: #7AB730;
    margin-left: -30px;
}

html, 
body {
    height: 100%;
}

.sect45{
    /* height: 100px; */
    line-height: 2.1;
}

.div22{
    /* height: 422px; */
    width: 350px;
    background-color: #F3F3F3;
}

.digit{
    background-color:#7AB82F;
    height: 70px;
}



.div22 h2{
    font-size: 25px;
    font-weight: 700;

}

.div22 small{
    color: #656565!important;
    font-weight: 600;
}

.digit p{
    font-size: 35px;
}

.myl{
    list-style: none;
}
.myl li{
    font-size: 12px;
    line-height: 4;
}

.mj li{
    float: left;
}

.plus{
    height: 200px;
    background-color: red;
}